#all-tweets {
  margin-top: 1.5em;
  margin-right: 1.5em;
  margin-left: 1.5em;
  border-radius: 0.5em;
  border: solid;
  border-width: 1px;
  border-color: #808080;
}



header {
  background-color: #eee;
  height: 6em;
  border-radius: 0.5em;
}

header #header-content {
  height: 6em;
}

header .avatarclass {
  width: 5em;
  margin-left: 0.5em;
  margin-top: 0.5em;
  border-radius: 0.5em;
  float: left;
}

header .username {
  float:left;
  margin-left: 0.5em;
  margin-top: 0.5em;
}

/*.handle h5 means: any descendant of .handle \| h5.handle is fine*/
header .handle {
  float: right;
  margin-right: 1em;
}



.message {
  padding: 3em 1em 3em 1em;
}



footer {
  height: 40px;
  border-top: solid;
  border-color: #eee;
  border-width: 2px;
}

footer p {
 font-size: 80%;
 margin: 1em 1em 1em 1em;
 float: left;
}

footer .footer-icons {
  float: right;
  opacity: 0;
  transition: 0s;
  padding: 10px 10px 0px 0px;
}

footer .footer-icons:hover {
    opacity: 1.0;
    transition-delay:0.2s;
}

footer .footer-icons .icons-rows {
  color: #21B6A8
}
